.terraform
.terraform.lock.hcl
terraform-provider-aws_v4.67.0_x5.exe
modules.json
terraform.tfstate
.env
.terraform.tfstate.lock.info
terraform
.vscode
terraform.tfstate.backup
__pycache__
.env
.vscode